@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 bg-neutral-950 p-0 font-sans text-gray-50;
    font-family: "Space Grotesk", sans-serif;
  }

  @theme {
    --color-navbar: rgba(10, 10, 10, 0.8);
  }
}

@layer components {
  .nav-link {
    @apply text-gray-300 transition-colors hover:text-white;
  }
  .nav-link-mobile {
    @apply my-4 text-2xl font-semibold text-white transition-colors hover:text-gray-500;
  }
  .btn {
    @apply inline-block rounded px-6 py-3 font-medium;
  }
  .hover-btn {
    @apply transform transition-all hover:-translate-y-0.5;
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
