@import "tailwindcss";

@theme {
  --color-navbar: rgba(10, 10, 10, 0.8);
}

@layer base {
  html,
  body {
    @apply m-0 bg-black p-0 font-sans text-gray-50;
    font-family: "Space Grotesk", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .nav-link {
    @apply text-gray-300 transition-all duration-300 hover:font-bold hover:text-white;
  }
  .nav-link-for-mobile {
    @apply text-2xl text-gray-300 transition-all duration-300 hover:font-bold hover:text-white;
  }
  .btn-primary {
    @apply rounded bg-blue-500 px-6 py-3 font-semibold text-white transition-transform duration-300 hover:-translate-y-1;
  }
  .btn-secondary {
    @apply rounded border border-blue-500 bg-black px-6 py-3 font-semibold text-blue-500 transition-all duration-300 hover:-translate-y-1 hover:bg-blue-500/10;
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  .animate-loading {
    animation: loading 0.8s ease-in infinite;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-blue-500 to-cyan-400 bg-clip-text text-transparent;
  }
}
